/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
  list-style: none;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgba(36, 33, 33, 0.7);
}

.mat-input-element {
  caret-color: #141414;
}

main{
  margin-top: 1rem ;
  padding: 1rem;
}


.mat-tab-body-wrapper{
  margin-top: 2rem ;

}
